body {
    font-family: 'Comic Neue', sans-serif;
    background-color: #fef6e4;
    color: #001858;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    position: relative;
    background-color: #fef6e4;
    color: white;
    padding: 1em;
    font-size: 1.5em;
}

.settings {
    position: absolute;
    right: 20px;
    top: 5px;
    color: grey;
    font-size: 1.5em;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.settings:hover {
    transform: rotate(90deg) scale(1.2);
}

.liste-parametres {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.liste-parametres li {
    background-color: #f3d2c1;
    margin: 10px auto;
    width: 250px;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
}